 /***** toaster ******/
 $color-text-toaster-title: $black-900;
 $color-text-toaster-msg: $black-800;
 $color-text-toaster-close: $black-500;

 /****checkbox***/

 $color-background-checkbox: $primary-base;
 $color-background-checkbox-checked: $primary-800;
 $color-background-checkbox-indicator: $black-200;
 $color-background-checkbox-indicator-focus: $black-300;
 $color-background-checkbox-disabled: $black-700;

 $size-checkbox: $size-small;
 $size-small: $foundations-size-small;

 $color-background-dropdown: $black-100;
 $color-text-dropdown: $black-600;
 $color-background-dropdown-hover: $black-200;
 $color-arrow-dropdown: $black-600;
 $color-arrow-dropdown-disabled: $black-300;

 /****form***/
 $color-text-label: $black-800;
 $color-text-required: $danger-700;
 $color-icon-notification: $black-500;
 $size-icon-notification: $font-small;
 $size-text-label: $font-base;
 $color-border-input: $black-200;
 $color-text-input: $black-1000;
 $size-text-input: $font-base;

 $color-text-secondary-hover: $black-900;
 $color-text-primary-hover: $primary-900;