@import "../../tokens/scss/alltokens.scss";



$font-family-base : $foundations-font-familybase;



/****** header's start ******/
$heading-level1: $foundations-font-size-heading-level1;
$heading-level2: $foundations-font-size-heading-level2;
$heading-level3: $foundations-font-size-heading-level3;
$heading-level4: $foundations-font-size-heading-level4;
$heading-level5: $foundations-font-size-heading-level5;
/****** header's start ******/

/****** font sizes start ******/

$font-small : $foundations-font-size-body-verysmall;
$font-base : $foundations-font-size-body-base;
$font-medium : $foundations-font-size-body-medium;
$font-large : $foundations-font-size-body-large;




/****** font sizes end ******/

/****** font bold start ******/
$text-regular : $foundations-font-weight-400;
$text-bold : $foundations-font-weight-500;
$text-bolder : $foundations-font-weight-600;


/****font line-height start ****/
$lineheight-small: $foundations-font-lineheight-small;
$lineheight-base: $foundations-font-lineheight-base;
$lineheight-medium: $foundations-font-lineheight-medium;
$lineheight-large: $foundations-font-lineheight-large;


/******font letter spacing start ******/
// $letterspacing-1: $foundations-letterspacing-1;
// $letterspacing-tight: $foundations-letterspacing-tight;
// $letterspacing-base: $foundations-letterspacing-base;
// $letterspacing-loose: $foundations-letterspacing-loose;


/***primary colors start ****/
$primary-base: $foundations-primary-500;
$primary-100: $foundations-primary-100;
$primary-200: $foundations-primary-200;
$primary-300: $foundations-primary-300;
$primary-400: $foundations-primary-400;
$primary-500: $foundations-primary-500;
$primary-600: $foundations-primary-600;
$primary-700: $foundations-primary-700;
$primary-800: $foundations-primary-800;
$primary-900: $foundations-primary-900;

$success-base: $foundations-success-base;
$success-100: $foundations-success-100;
$success-200: $foundations-success-200;
$success-300: $foundations-success-300;
$success-400: $foundations-success-400;
$success-500: $foundations-success-500;
$success-600: $foundations-success-600;
$success-700: $foundations-success-700;
$success-800: $foundations-success-800;
$success-900: $foundations-success-900;

$danger-base: $foundations-danger-700;
$danger-100: $foundations-danger-100;
$danger-200: $foundations-danger-200;
$danger-300: $foundations-danger-300;
$danger-400: $foundations-danger-400;
$danger-500: $foundations-danger-500;
$danger-600: $foundations-danger-600;
$danger-700: $foundations-danger-700;
$danger-800: $foundations-danger-800;
$danger-900: $foundations-danger-900;

$warning-base: $foundations-orange-700;
$warning-100: $foundations-orange-100;
$warning-200: $foundations-orange-200;
$warning-300: $foundations-orange-300;
$warning-400: $foundations-orange-400;
$warning-500: $foundations-orange-500;
$warning-600: $foundations-orange-600;
$warning-700: $foundations-orange-700;
$warning-800: $foundations-orange-800;
$warning-900: $foundations-orange-900;






/******black colors start ******/
$black-base: $foundations-black-200;
$black-100: $foundations-black-100;
$black-200: $foundations-black-200;
$black-300: $foundations-black-300;
$black-400: $foundations-black-400;
$black-500: $foundations-black-500;
$black-600: $foundations-black-600;
$black-700: $foundations-black-700;
$black-800: $foundations-black-800;
$black-900: $foundations-black-900;
$black-1000: $foundations-black-1000;


$black: $foundations-neutral-black;
$white: $foundations-neutral-white;

/*****border*******/
$no-border: $foundations-border-width-no-border;
$border-thin: $foundations-border-width-thin;
$border-small: $foundations-border-width-small;
$border-medium: $foundations-border-width-medium;

$border-radius-none: $foundations-border-width-no-border;
$border-radius-base: $foundations-border-radius-base;
$border-radius-secondary: $foundations-border-radius-secondary;
$border-radius-rounded: $foundations-border-radius-rounded;

/***space***/
$space-nospace: $foundations-space-nospace;
$space-nano: $foundations-space-nano;
$space-micro: $foundations-space-micro;
$space-condensed: $foundations-space-condensed;
$space-compact: $foundations-space-compact;
$space-default: $foundations-space-default;
$space-comfortable: $foundations-space-comfortable;
$space-spacious : $foundations-space-spacious;
$space-generous: $foundations-space-generous;
$space-vast: $foundations-space-vast;

/***size***/
$size-small: $foundations-size-small;
$size-medium: $foundations-size-medium;
$size-large: $foundations-size-large;