[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "freyaicons" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-thumbnail:before {
    content: "\e903";
}

.icon-help:before {
    content: "\e954";
}

.icon-technical-support:before {
    content: "\e955";
}

.icon-refresh2:before {
    content: "\23";
}

.icon-user-icon:before {
    content: "\24";
}

.icon-file-search:before {
    content: "\27";
}

.icon-flow-chart3:before {
    content: "\2e";
}

.icon-flow-chart-dots:before {
    content: "\2f";
}

.icon-settings2:before {
    content: "\3b";
}

.icon-safe-time:before {
    content: "\41";
}

.icon-flow-tree:before {
    content: "\45";
}

.icon-flow-tree1:before {
    content: "\47";
}

.icon-flow-tree2:before {
    content: "\49";
}

.icon-text-file2:before {
    content: "\4b";
}

.icon-search2:before {
    content: "\4f";
}

.icon-search1:before {
    content: "\50";
}

.icon-line-chart-dots:before {
    content: "\66";
}

.icon-refresh-file:before {
    content: "\69";
}

.icon-text-list-file:before {
    content: "\6f";
}

.icon-file-history:before {
    content: "\70";
}

.icon-empty-file:before {
    content: "\71";
}

.icon-calendar2:before {
    content: "\7a";
}

.icon-caret-left:before {
    content: "\7c";
}

.icon-caret-right:before {
    content: "\7d";
}

.icon-down-open:before {
    content: "\e004";
}

.icon-left-open:before {
    content: "\e005";
}

.icon-right-open:before {
    content: "\e006";
}

.icon-up-open:before {
    content: "\e007";
}

.icon-close:before {
    content: "\e017";
}

.icon-close-round:before {
    content: "\e018";
}

.icon-cross-mark:before {
    content: "\e019";
}

.icon-cancel:before {
    content: "\e01a";
}

.icon-search-icon:before {
    content: "\e031";
}

.icon-search-2:before {
    content: "\e033";
}

.icon-folder-1-1:before {
    content: "\e046";
}

.icon-file-text-o:before {
    content: "\e04a";
}

.icon-files-o:before {
    content: "\e04d";
}

.icon-file-o:before {
    content: "\e051";
}

.icon-content-41:before {
    content: "\e05d";
}

.icon-check-mark:before {
    content: "\e060";
}

.icon-round-1:before {
    content: "\e061";
}

.icon-signs:before {
    content: "\e062";
}

.icon-log-out:before {
    content: "\e06b";
}

.icon-setting:before {
    content: "\e904";
}

.icon-leadership:before {
    content: "\e905";
}

.icon-profile:before {
    content: "\e906";
}

.icon-user:before {
    content: "\e907";
}

.icon-dots-menu:before {
    content: "\e908";
}

.icon-menu:before {
    content: "\e909";
}

.icon-arrow:before {
    content: "\e90a";
}

.icon-left-right:before {
    content: "\e90b";
}

.icon-left-and-right:before {
    content: "\e90c";
}

.icon-money:before {
    content: "\e90d";
}

.icon-exchange:before {
    content: "\e90e";
}

.icon-notification:before {
    content: "\e90f";
}

.icon-notification-1:before {
    content: "\e910";
}

.icon-theme:before {
    content: "\e911";
}

.icon-paint:before {
    content: "\e912";
}

.icon-theme-1:before {
    content: "\e913";
}

.icon-half-moon:before {
    content: "\e914";
}

.icon-layer:before {
    content: "\e915";
}

.icon-layers:before {
    content: "\e916";
}

.icon-settings:before {
    content: "\e917";
}

.icon-setting-lines:before {
    content: "\e918";
}

.icon-cogwheel:before {
    content: "\e919";
}

.icon-profile-1:before {
    content: "\e91a";
}

.icon-setting-1:before {
    content: "\e91b";
}

.icon-online-library:before {
    content: "\e91c";
}

.icon-books:before {
    content: "\e91d";
}

.icon-loop-alt3:before {
    content: "\e91e";
}

.icon-arrow-right:before {
    content: "\e91f";
}

.icon-arrow-left:before {
    content: "\e920";
}

.icon-arrow-down:before {
    content: "\e921";
}

.icon-arrow-up:before {
    content: "\e922";
}

.icon-dots-three-vertical:before {
    content: "\e923";
}

.icon-dots-three-horizontal:before {
    content: "\e924";
}

.icon-arrow_downward:before {
    content: "\e925";
}

.icon-arrow_upward:before {
    content: "\e926";
}

.icon-arrow_forward:before {
    content: "\e927";
}

.icon-arrow_back:before {
    content: "\e928";
}

.icon-zoom_out_map:before {
    content: "\e929";
}

.icon-gps_not_fixed:before {
    content: "\e92a";
}

.icon-label_outline:before {
    content: "\e92b";
}

.icon-location-outline:before {
    content: "\e92c";
}

.icon-map-pin:before {
    content: "\e92d";
}

.icon-globe:before {
    content: "\e92e";
}

.icon-bell:before {
    content: "\e92f";
}

.icon-settings1:before {
    content: "\e930";
}

.icon-unlock:before {
    content: "\e931";
}

.icon-lock:before {
    content: "\e932";
}

.icon-location1:before {
    content: "\e933";
}

.icon-map:before {
    content: "\e934";
}

.icon-mail-envelope-open:before {
    content: "\e935";
}

.icon-line-spacing:before {
    content: "\e936";
}

.icon-thumbs:before {
    content: "\e937";
}

.icon-edit1:before {
    content: "\e938";
}

.icon-person_outline:before {
    content: "\e939";
}

.icon-plus-square:before {
    content: "\e93a";
}

.icon-plus-circle:before {
    content: "\e93b";
}

.icon-users:before {
    content: "\e93c";
}

.icon-user1:before {
    content: "\e93d";
}

.icon-share2:before {
    content: "\e93f";
}

.icon-chat_bubble_outline:before {
    content: "\e940";
}

.icon-email2:before {
    content: "\e941";
}

.icon-bot:before {
    content: "\e942";
}

.icon-robot:before {
    content: "\e943";
}

.icon-pie-chart2:before {
    content: "\e944";
}

.icon-hash2:before {
    content: "\e945";
}

.icon-moon-o:before {
    content: "\e946";
}

.icon-bell-o:before {
    content: "\e947";
}

.icon-envelope-open-o:before {
    content: "\e949";
}

.icon-view-carousel:before {
    content: "\e94a";
}

.icon-stats:before {
    content: "\e94b";
}

.icon-data-analytics:before {
    content: "\e94c";
}

.icon-hand-gear:before {
    content: "\e94d";
}

.icon-paper:before {
    content: "\e94e";
}

.icon-email:before {
    content: "\e94f";
}

.icon-computer:before {
    content: "\e950";
}

.icon-view-tile2:before {
    content: "\e951";
}

.icon-access:before {
    content: "\e952";
}

.icon-chat:before {
    content: "\e953";
}

.icon-bot-2:before {
    content: "\e956";
}

.icon-robot1:before {
    content: "\e957";
}

.icon-bot1:before {
    content: "\e958";
}

.icon-file-plus1:before {
    content: "\e98b";
}

.icon-menu11:before {
    content: "\e98c";
}

.icon-menu3:before {
    content: "\e98e";
}

.icon-news:before {
    content: "\e9a9";
}

.icon-briefcase1:before {
    content: "\e9ac";
}

.icon-envelope-o:before {
    content: "\e9b1";
}

.icon-newspaper:before {
    content: "\e9b4";
}

.icon-clipboard:before {
    content: "\e9b8";
}

.icon-news-paper:before {
    content: "\e9b9";
}

.icon-notification2:before {
    content: "\ea08";
}

.icon-arrow-up-left2:before {
    content: "\ea39";
}

.icon-arrow-up2:before {
    content: "\ea3a";
}

.icon-arrow-up-right2:before {
    content: "\ea3b";
}

.icon-arrow-right2:before {
    content: "\ea3c";
}

.icon-arrow-down-right2:before {
    content: "\ea3d";
}

.icon-arrow-down2:before {
    content: "\ea3e";
}

.icon-arrow-down-left2:before {
    content: "\ea3f";
}

.icon-arrow-left2:before {
    content: "\ea40";
}

.icon-rotate:before {
    content: "\e93e";
}

.icon-help-circle:before {
    content: "\e948";
}

.icon-feather:before {
    content: "\e900";
}

.icon-pen-tool:before {
    content: "\e901";
}

.icon-pin-outline:before {
    content: "\e902";
}