.content-area {
    width: 77%;
    float: left;
    padding: 40px;
    height: calc(100vh - 54px);
    max-height: 100vh;
}

.content-area-fullwidth {
    width: 100%;
    float: left;
    padding: 40px;
    height: calc(100vh - 54px);
    max-height: 100vh;
}