$font-family: 'Open Sans', sans-serif;

$theme-colors: (
  "primary":$primary-600,
  "success":$success-700,
  "danger":$danger-800,
  "warning":$warning-400,
  "secondary":$black-200,

) !default;

$f-14:14px;
// Button Mixings
@mixin btn($bg-color) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border:$no-border;
    padding: $space-condensed 10px;
    border-radius: $border-radius-base;
    background-color: $bg-color;
    color: $white;
    font-size: $font-base;
    font-weight: $text-bolder;
    font-family: $font-family;
    text-transform: capitalize;
   + .btn{
     margin-left: 4px;
   }

  }



@each $key, $val in $theme-colors {
    .btn-#{$key}{
        @include btn($val);
        &:hover{
            background-color: darken($val, 10%) ;
        }
        &[disabled]{
            pointer-events: none;
            opacity: 0.35;
        }
        &:active{
            background-color: darken($val, 20%) ;
        }
        &:focus {
            border: 1px solid darken($val, 20%) ;
        }
    }
    @if $key == 'secondary'{
        .btn-#{$key}{
        color:  $black-900;
        }
    }
    .btn-#{$key}-link{
        // @include btn($transparent);
        color: $val;
        text-decoration: underline;
        &:hover{
            color: darken($val, 20%) ;
        }
        &[disabled]{
            pointer-events: none;
            opacity: 0.35;
        }
        &:active{
            color: darken($val, 40%) ;
        }
        &:focus {
            background-color: darken($val, 60%) ;
            border: 1px solid darken($val, 80%) ;
        }
    }

}

// .btn-shadow{
//      box-shadow(1px, 1px, 3px, 1px, $gray-400);
// }
.btn-lg{
   padding:$space-condensed;
   font-size: $font-large;
}
.btn-sm{
    line-height: $lineheight-small;
    padding:$space-nano;
    font-size: $font-small;

}
.btn-xs{
    line-height: $lineheight-small;
    padding: $space-nano ;
    font-size: $font-small;

}
.btn-group{

        position: relative;
        display: inline-flex;
        vertical-align: middle;
    >.btn + .btn{
        margin-left: 0;
    }
    + .btn-group{
        margin-left: 10px;
    }
    >.btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

    }
    // >.btn +.btn:not(:last-child),  >.btn:not(:first-child) {
    //     border-left: $transparent;
    // }
    >.btn:nth-child(n+3), >:not(.btn-check)+.btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

    }

}