.control {
    display: block;
    position: relative;
    padding-left: $space-comfortable;
    margin-bottom: $space-default;
    cursor: pointer;
    font-size: $font-base + 1;

    .input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:focus~.control__indicator {
            background: $color-background-checkbox-indicator-focus;
        }

        &:checked~.control__indicator {
            background: $color-background-checkbox;

            &:after {
                display: block;
            }
        }

        &:checked {
            &:focus~.control__indicator {
                background: $color-background-checkbox-checked;
            }
        }

        &:disabled~.control__indicator {
            background: $color-background-checkbox-indicator;
            opacity: 0.6;
            pointer-events: none;
        }
    }

    &:hover {
        .input~.control__indicator {
            background: $color-background-checkbox-indicator-focus;
        }

        .input {
            &:not([disabled]) {
                &:checked~.control__indicator {
                    background: $color-background-checkbox-checked;
                }
            }
        }
    }
}

.control__indicator {
    position: absolute;
    top: 4px;
    left: 0;
    height: $size-checkbox;
    width: $size-checkbox;
    background: $color-background-checkbox-indicator;

    &:after {
        content: '';
        position: absolute;
        display: none;
    }
}

.control--radio {
    .control__indicator {
        border-radius: $border-radius-rounded;

        &:after {
            left: 4px;
            top: 4px;
            height: $size-small / 2;
            width: $size-small / 2;
            border-radius: $border-radius-rounded;
            background: $white;
        }
    }

    .input {
        &:disabled~.control__indicator {
            &:after {
                background: $color-background-checkbox-disabled;
            }
        }
    }
}

.control--checkbox {
    .control__indicator {
        &:after {
            left: 6px;
            top: 2px;
            width: 3px;
            height: 8px;
            border: solid $white;
            border-width: 0 $border-small $border-small 0;
            transform: rotate(45deg);
        }
    }

    .input {
        &:disabled~.control__indicator {
            &:after {
                border-color: $color-background-checkbox-disabled;
            }
        }
    }
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: $space-default;
    width: 100%;

    select {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: $space-condensed $space-default;
        outline: 0;
        border: $space-nospace;
        border-radius: $border-radius-base;
        background: $color-background-dropdown;
        color: $color-text-dropdown;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 36px;

        &::-ms-expand {
            display: none;
        }

        &:hover {
            color: $black;
            background: $color-background-dropdown-hover;
        }

        &:focus {
            color: $black;
            background: $color-background-dropdown-hover;
        }

        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        &:hover~.select__arrow {
            border-top-color: $black;
        }

        &:focus~.select__arrow {
            border-top-color: $black;
        }

        &:disabled~.select__arrow {
            border-top-color: $color-arrow-dropdown-disabled;
        }
    }
}

.select__arrow {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: $color-arrow-dropdown transparent transparent transparent;

}


.display-inline_block {
    display: inline-block !important;
}

h6 {
    margin-bottom: 20px;
}