 .popover-main {
     flex: 1 1 100vh;

     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: flex-start;

     i {
         color: $black-500;
         font-size: $font-base;
     }
 }

 .toaster_visible {
     visibility: visible;
     opacity: 1;
 }

 .tooltip {
     position: relative;
 }

 .tooltip__item {
     position: absolute;
     min-width: 200px;
     padding: 10px;
     visibility: hidden;
     opacity: 0;
     background: $white;
     transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
     color: $black-800;
     background-color: $black-100;
     border-radius: $border-radius-base;
     font-weight: $text-bold;
     font-size: $font-base;
     z-index: 4;

     &:after {
         content: "";
         display: block;
         position: absolute;
         width: 0;
         height: 0;
         border-style: solid;
     }
 }

 .tooltip__initiator {
     cursor: pointer;
     z-index: 5;
 }

 .tooltip[data-direction=left] {
     .tooltip__initiator {
         &:hover~.tooltip__item {
             transform: translate3d(0, -50%, 0);
             @extend .toaster_visible
         }
     }

     .tooltip__item {
         top: 50%;
         right: calc(100% + 1em);
         transform: translate3d(15px, -50%, 0);

         &:after {
             top: 50%;
             right: -0.5em;
             transform: translate3d(0, -50%, 0);
             border-width: 0.8em 0 0.8em 0.8em;
             border-color: transparent transparent transparent $black-100;
         }
     }
 }

 .tooltip[data-direction=right] {
     .tooltip__initiator {
         &:hover~.tooltip__item {
             transform: translate3d(0, -50%, 0);
             @extend .toaster_visible
         }
     }

     .tooltip__item {
         top: 50%;
         left: calc(100% + 1em);
         transform: translate3d(15px, -50%, 0);

         &:after {
             top: 50%;
             left: -0.5em;
             transform: translate3d(0, -50%, 0);
             border-width: 0.8em 0.8em 0.8em 0;
             border-color: transparent $black-100 transparent transparent;
         }
     }
 }

 .tooltip[data-direction=bottom] {
     .tooltip__initiator {
         &:hover~.tooltip__item {
             transform: translate3d(-50%, 0, 0);
             @extend .toaster_visible
         }
     }

     .tooltip__item {
         top: calc(100% + 1em);
         left: 50%;
         transform: translate3d(-50%, -15px, 0);

         &:after {
             top: -0.5em;
             left: 50%;
             transform: translate3d(-50%, 0, 0);
             border-width: 0 0.9em 0.9em 0.9em;
             border-color: transparent transparent $black-100 transparent;
         }
     }
 }

 .tooltip[data-direction=top] {
     .tooltip__initiator {
         &:hover~.tooltip__item {
             transform: translate3d(-50%, 0, 0);
             @extend .toaster_visible
         }
     }

     .tooltip__item {
         top: calc(100% - 6em);
         left: 50%;
         transform: translate3d(-50%, -15px, 0);

         &:after {
             top: 2.5em;
             left: 50%;
             transform: translate3d(-50%, 0, 0);
             border-width: 0.9em 0.9em 0 0.9em;
             border-color: $black-100 transparent transparent transparent;
         }
     }
 }
 