$toaster-colors: (
    "primary":$primary-600,
    "success":$success-700,
    "danger":$danger-800,
    "warning":$warning-400,
    "secondary":$black-200,
    ) !default;

.toast__container {
    display: table-cell;
    vertical-align: middle;
}

.toast {
    text-align: left;
    padding: $space-default;
    background-color: $white;
    border-radius: $border-radius-base;
    max-width: 500px;
    top: 0px;
    position: relative;
    margin-top: $space-comfortable;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2
    );

&:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    border-top-left-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;

}

.toast__message {
    font-size: $font-base;
    margin-top: $space-condensed;
    margin-bottom: $space-nospace;
    color: $color-text-toaster-msg;
    padding-left: 35px
}

.dismiss__text {
    color: $primary-700;
    cursor: pointer;
    padding-left: 35px;
    font-size: $font-base;
    padding-top: $space-condensed;
    margin-bottom: $space-nospace;
    display: inline-block;
}

.toast__content {

    .toast__icon {
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        padding: 1px 6px;
        border-radius: $border-radius-rounded;
        display: inline;

        em {
            color: $white;
            font-size: $font-base;

        }
    }

    .toast__type {
        color: $color-text-toaster-title;
        font-weight: $text-bold;
        margin-top: $space-nospace;
        margin-bottom: $space-nospace;
        margin-left: $space-compact;
        font-size: $font-base+1;
        display: inline;
    }

    .toast__close {
        cursor: pointer;
        float: right;


        em {
            font-size: $font-base;
            color: $color-text-toaster-close;

            &:hover {
                color: $color-text-secondary-hover;
            }
        }
    }
}
}

@each $key, $val in $toaster-colors {
    .toast--#{$key} {
        &:before {
            background-color: $val;
        }

        .toast__icon {
            background-color: $val;
        }
    }
}

/**************/
h1 {
    font-weight: $text-bolder;
    font-size: $font-large;

}

h2 {
    font-weight: $text-bolder;
    font-size: $font-medium;
}

p {
    font-size: $font-base;
}

section {
    padding-top: $space-default;
    padding-bottom: $space-default;
    border-bottom: 1px solid $black-100;

}

.main-heading {
    margin-bottom: $space-default;
    font-size: 24px;
    margin-top: $space-condensed;
}

.sub-heading {
    margin-top: $space-spacious;
    margin-bottom: $space-condensed;
}

.m-t-0 {
    margin-top: $space-nospace;
}

.m-t-10 {
    margin-top: $space-condensed;
}

.m-r-5 {
    margin-right: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-t-20 {
    margin-top: 20px;
}


.m-b-10 {
    margin-bottom: $space-condensed;
}


/**************/